
.hexagons
    display: grid
    grid-auto-rows: 100vh
    grid-template-columns: repeat(5, auto)
    align-items: center




.hexagon 
    position: relative
    margin: 1em auto
    width: 5em        //10em
    height: 8.66em    //17.32em
    border-radius: 0.5em/.3em
    background: #ffff
    transition: opacity .5s
    bottom: 3em

.hexagon:before, .hexagon:after 
    position: absolute
    width: inherit
    height: inherit
    border-radius: inherit
    background: inherit
    content: ''

.hexagon:before 
    -webkit-transform: rotate(60deg)
    -ms-transform: rotate(60deg)
    transform: rotate(60deg)

.hexagon:after 
    -webkit-transform: rotate(-60deg)
    -ms-transform: rotate(-60deg)
    transform: rotate(-60deg)

.hexagon1
    top: 220px
    left: 275px

.hexagon2
    width: 7em        
    height: 12em  
    top: 100px
    left: 125px  

.hexagon3    
    width: 10em        
    height: 17.32em    

.hexagon4
    width: 7em        
    height: 12em 
    bottom: 200px
    right: 125px

.hexagon5
    bottom: 315px
    right: 270px

.activeHexagon
    background-color: #3314bb

// p                  // ЧТОБЫ ПИСАТЬ ТЕКСТ ВНУТРИ ГЕКСАГОНОВ
//     display: inline-block
//     position: absolute
//     z-index: 999











// .hexagon
//   margin: 25px
//   --hex-side: 75px
//   --hex-rotate: 30deg



// .hexagon
//   border-radius: 25px
//   width: calc(var(--hex-side) * 1.732)
//   height: var(--hex-side)
//   background: #3e92cc
//   position: relative
//   transform: rotate(var(--hex-rotate))
//   bottom: 70px
//   justify-self: center


// .hexagon:before, 
// .hexagon:after 
//   border-radius: 10px
//   content: ''
//   position: absolute
//   width: 100%
//   height: 100%
//   background: #3e92cc
//   top: 9px
// // 


// .hexagon:before 
//   transform: rotate(60deg)


// .hexagon:after 
//   transform: rotate(-60deg)



// .hexagon2
//     display: grid
//     --hex-side: 100px
//     top: 175px
//     left: 100px

// .hexagon3
//     --hex-side: 150px
//     display: flex

// .hexagon4
//     --hex-side: 100px

// .hexagon5
//     --hex-side: 75px
