.trapezoid1
    border-top: 125px solid white
    border-right: 70px solid transparent
    height: 140px
    width: 825px
    position: absolute
    bottom: 450px
    left: 0px

.trapezoid1 span    
    margin-top: -100px
    position: absolute
    background-color: #fff


.trapezoid2
    border-bottom: 125px solid white
    border-left: 70px solid transparent
    height: 140px
    width: 825px
    position: absolute
    bottom: 310px
    right: 0px

.trapezoid2 span    
    margin-top: 100px
    position: absolute
    background-color: #fff
    

