
.navbar
    color: #fff
    display: flex
    justify-content: space-between

    &__href-shake
        text-decoration: none
        position: relative
        
        svg
            height: 25px
            width: 25px
            fill: white

        a
            margin-left: 10px
            font-size: 20px
            font-family: UbuntuRegular
            color: #fff
            text-decoration: none

    &__href-shake:hover
        svg
            animation: shaking 0.25s infinite

    @keyframes shaking 
        0%  
            transform: translate(0, 0) rotate(0deg)
        25%  
            transform: translate(5px, 5px) rotate(5deg)
        50% 
            transform: translate(0, 0) rotate(0eg)
        75%  
            transform: translate(-5px, 5px) rotate(-5deg)
        100%  
            transform: translate(0, 0) rotate(0deg)


    

    &__logInSvg
        fill: #fff
        margin-right: 10px
        position: relative
        top: 5px

    &__href
        display: inline-block
        color: #fff
        text-decoration: none
        font-size: 20px
        position: relative
    
    &__href:hover::after
        width: 100%

    &__href::after
        content:''
        width: 0%
        position: absolute
        left: 0
        right: 0
        bottom: 7px
        height: 2px
        border-radius: 10px
        background-color: #fff
        transition: width 0.4s ease-in-out

    &__menu
        display: flex
        flex-direction: column
        flex-wrap: wrap
        justify-content: center
        margin-top: 5px
        align-items: end
        width: 45px


        &_span
            width: 100%
            display: block
            height: 3px
            width: 25px
            margin-bottom: 10px
            background-color: #fff
            transition: width 0.4s ease-in-out

    .span1, .span3
        width: 45px

    &__menu:hover
        .span2
             width: 45px
             transition: width 0.4s ease-in-out

        .span1, .span3
            width: 25px
            transition: width 0.4s ease-in-out

